.add_content{
    background-color: #FFF;
    position: fixed;
    top: 100px;
    left: 200px;
    right: 50px;
    width: 630px;
    height: 580px;
    overflow: hidden;
    padding-top:10px;
    padding-bottom:30px;
}

.form-header{
    float: left;
    margin-left: 95px;
    height: 40px;
    width:70%;
}

.form-header input{
    position: relative;
    margin:0 auto;
    margin-top:30px;
    width:70%;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius:3px ;
}

.form-header .form-label{
    margin-top: 30px;
    overflow:auto;
    height:40px;
    width: 20%;
    /*width: 70px;*/
    font-size: 15px;
    float:left;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.form-header .form-group{
    position: relative;
    margin-top: 20px;
    width:70%;
    font-size: 40px;
    height: 40px;
    border: 1px solid #dbdbdb;
    border-radius:3px ;
    float:left;
}
.form-header .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-size: auto 15px;
    margin: 6px 0 0 8px;
    color:#777;
}
.form-header .form-control {
    margin-top: 0px;
    overflow:hidden;
    width: 100%;
    height: 38px;
}

.form-header .form-group-text{
    position: relative;
    margin-top: 20px;
    width:70%;
    font-size: 14px;
    height: 100px;
    border: 1px solid #dbdbdb;
    border-radius:3px ;
    float:left;
}

.form-header .add-button-div{
    margin-top:380px;
}
.form-header .add-button{
    margin-top: 200px;
    display:block;
    width:50%;
    height:40px;
    background:#56ACEE;
    border-radius:4px;
    text-align:center;
    line-height:40px;
    color:#fff;
}
.form-header .login-btm-div{
    width:70%;
    margin:0 auto;
    margin-top:20px;
    font-family:'STHeitiSC-Light';
    font-size:12px;
    line-height:12px;
}
.form-header .save-pwd-btn{
    font-family:'STHeitiSC-Light';
    border:1px solid #56ACEE;
    font-size: 12px;
    height: 12px;
    width: 20px;
    margin-top: 0;
}
.form-header .fgt-pwd-btn{
    color:#56ACEE;
}
.fl{
    float:left;
    height: 20px;
    overflow: visible;
}
.fr{
    float:right;
}

.addBtn{
    width: 100px;
    height: 34px;
    margin-inside: 20px;
    margin-top: 20px;
    margin-left: 50px;
    left: 400px;
    top: 300px;
    position: fixed;
    line-height: 34px;
    border-radius: 5px;
    font-size: 15px;
    font-family:  'Arial';
    color: #FFFFFF;
    display:block;
    background:#169BD5;
    margin:0 auto;
    text-align:center;
    cursor:pointer;
}


