{% extends "data/base.html" %}
{% block title %}全部事务{% endblock %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" href="{% static 'data/assets/css/all_td.css' %}">

<div class="crumb">
    <span>全部事务</span>
</div>

    <div class="tds-content tds-tmp">
        <div class="account" hidden><input name="account" value="{{ account }}"></div>
        <div class="left-panel">
            {% for tds in tdList %}
            {% ifequal tds.right 'true' %}
            <div id="tdPanel{{ tds.id }}" class="td-panel" data-text="{{ tds.belong_project.project_name }}">
                <input type="hidden" name="id" value="{{ tds.id }}"/>
                <form id="tdForm{{ tds.id }}" class="tdForm{{ tds.id }}">
                    <div class="td-title">
                        {{ tds.title }}
                        <div id="td-icon{{forloop.counter0}}" class="td-icon">
                            {% if tds.params.length == 0 %}
                            {% else %}
                                <i id="icon-help" class="iconfont icon-help">&#xe61e;</i>
                                <div id="td-help-dialog-add" class="help-dialog td-help-dialog td-help-dialog{{ forloop.counter0 }}">{{ tds.instruction }}</div>
                            {% endif %}
                            {% ifequal tds.isFav 'true' %}
                                <i class="iconfont icon-fav-cancel gray" onclick="id_ajax('{{ tds.id }}', '/qacenter/all_td/',true)" style="display: none">&#xe620;</i>
                                <i class="iconfont icon-fav-add orange" onclick="id_ajax('{{ tds.id }}', '/qacenter/all_td/',false)" style="display: inline-block">&#xe61f;</i>
                            {% else %}
                                <i class="iconfont icon-fav-cancel gray" onclick="id_ajax('{{ tds.id }}', '/qacenter/all_td/',true)" style="display: inline-block">&#xe620;</i>
                                <i class="iconfont icon-fav-add orange" onclick="id_ajax('{{ tds.id }}', '/qacenter/all_td/',false)" style="display: none">&#xe61f;</i>
                            {% endifequal %}

                        </div>
                    </div>
                    <div class="td-author">作者：{{ tds.author }}</div>
                    {% for foo in tds.params %}
                    <div class="td-param">
                        <span class="td-param-name">{{ foo.param }}：</span>
                        {% ifequal foo.type '0' %}
                        <input type="text" class="param-input" name="param{{forloop.counter0}}" value="" placeholder="{{ foo.exp }}"
                               autocomplete="off"/>
                        {% else %}
                        <select name="param{{forloop.counter0}}" onmouseover="getOptions('{{ foo.exp }}', {{ tds.id }}, {{ forloop.counter0 }})">
                            <option value="请选择">请选择</option>
                        </select>
                        {% endifequal %}
                        <div class="bdsug">
                            <ul>

                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                    <input type="hidden" name="url" value="{{ tds.td_url }}"/>

                    <div class="submit-btn-row"><a class="submit btn" onclick="pv_ajax('{{ tds.id }}', '/qacenter/all_td/', 'pv', true)" >确定</a></div>
                </form>
            </div>
            {% endifequal %}
            {% empty %}
                <span>抱歉，列表为空</span>
            {% endfor %}
        </div>
        <div class="right-panel">
            {% for tds in tdList %}
            {% ifequal tds.right 'false' %}
            <div id="tdPanel{{ tds.id }}" class="td-panel" data-text="{{ tds.belong_project.project_name }}">
                <input type="hidden" name="id" value="{{ tds.id }}"/>
                <form id="tdForm{{ tds.id }}" class="tdForm{{ tds.id }}">
                    <div class="td-title">
                        {{ tds.title }}
                        <div id="td-icon{{ forloop.counter0 }}" class="td-icon">
                            {% if tds.params.length == 0 %}
                            {% else %}
                                <i id="icon-help" class="iconfont icon-help">&#xe61e;</i>
                                <div id="td-help-dialog-add" class="help-dialog td-help-dialog td-help-dialog{{ forloop.counter0 }}">{{ tds.instruction }}</div>
                            {% endif %}
                            {% ifequal tds.isFav 'true' %}
                                <i class="iconfont icon-fav-cancel gray" onclick="id_ajax('{{ tds.id }}', '/qacenter/all_td/', true)" style="display: none">&#xe620;</i>
                                <i class="iconfont icon-fav-add orange" onclick="id_ajax('{{ tds.id }}', '/qacenter/all_td/', false)" style="display: inline-block">&#xe61f;</i>
                            {% else %}
                                <i class="iconfont icon-fav-cancel gray" onclick="id_ajax('{{ tds.id }}', '/qacenter/all_td/', true)" style="display: inline-block">&#xe620;</i>
                                <i class="iconfont icon-fav-add orange" onclick="id_ajax('{{ tds.id }}', '/qacenter/all_td/', false)" style="display: none">&#xe61f;</i>
                            {% endifequal %}
                        </div>
                    </div>
                    <div class="td-author">作者：{{ tds.author }}</div>
                    {% for foo in tds.params %}
                    <div class="td-param">
                        <span class="td-param-name">{{ foo.param }}：</span>
                        {% ifequal foo.type '0' %}
                        <input type="text" class="param-input" name="param{{forloop.counter0}}" value="" placeholder="{{ foo.exp }}"
                               autocomplete="off"/>
                        {% else %}
                        <select name="param{{ forloop.counter0 }}" onmouseover="getOptions('{{ foo.exp }}', {{ tds.id }}, {{ forloop.counter0 }})">
                            <option value="请选择">请选择</option>
                        </select>
                        {% endifequal %}
                        <div class="bdsug">
                            <ul>

                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                    <input type="hidden" name="url" value="{{ tds.td_url }}"/>

                    <div class="submit-btn-row"><a class="submit btn" onclick="pv_ajax('{{ tds.id }}', '/qacenter/all_td/', 'pv', true)">确定</a></div>
                </form>
            </div>
            {% endifequal %}
            {% empty %}
                <span>抱歉，列表为空</span>
            {% endfor %}
        </div>
    </div>
    <div id="td-res-dialog" class="td-res-dialog res-dialog">
        <div class="succ-icon"><i class="iconfont icon-succ">&#xe635;</i></div>
        <div id="Canvas" class="Canvas"></div>
        <div class="confirm-btn-row"><a id="J_dialog_del" class="confirm-btn btn" onclick="location.reload()">确定</a></div>
    </div>


{#<script type="text/javascript">#}
{#        $.getJSON('/qacenter/all_td/', function (data, status) {#}
{#            $('.td-panel').each(data.tdList, function (i, obj) {#}
{#                $.each(obj.params, function(n, attr) {#}
{#                    if (attr.type == 1) {#}
{#                        self.getOptions(attr.exp, i, n);#}
{#                    }#}
{#                });#}
{#            })#}
{#        })#}
{#</script>#}
<script id="td-res-dialog-tmp">

    $(document).ready(function() {
        }).on('dblclick', '.param-input', function() {
            var obj = $(this);
            var inputVal = obj.val();
            var tdId = $(this).parent().parent().parent().find('input[name="id"]').val();
            var clsName = $(this).attr('name');
            var index = clsName.substring("param".length, clsName.length);
            var kwMap = JSON.parse(localStorage.getItem("TD_INPUT_" + tdId));
            //输入框为空时，双击弹出
            if (inputVal.length == 0) {
                var kwHtml = "<ul>";
                var liHtml = "";
                $.each(kwMap[index], function(n, kw) {
                    liHtml = liHtml + "<li>" + kw + "</li>";
                })
                kwHtml = kwHtml + liHtml + "</ul>";
                $(this).next().html(kwHtml);
                $(".bdsug").hide();
                $(this).next().show();
            }
        }).on('click', '.bdsug li', function() {
            var curKw = $(this).text();
            $(this).parent().parent().prev().val(curKw);
            $(this).parent().parent().prev().focus();
        }).on('click', 'body', function(e) {
            if ($(e.target).closest(".param-input").length == 0) {
                $(".bdsug").hide();
            }
        }).on('click', '.icon-help', function() {
            var isShow = $(this).next().css('display');
            if (isShow == 'none') {
                $(this).next().show();
            } else {
                $(this).next().hide();
            }
        }).on('click', 'body', function() { //点击空白处，隐藏帮助说明
            var eventId = event.srcElement.id;
            if (eventId == 'td-help-dialog-add' || eventId == 'icon-help') {
                return;
            }  else {
                $('.td-help-dialog').hide();
            }
        }).on('click', '.submit', function() {
            var formId = $(this).parent().parent().attr('id');
            var formData = $("#" + formId).serializeArray();
            console.log(formData)
            var url = $(this).parent().parent().find('input[name="url"]').val();
            var id = $(this).parent().parent().parent().find('input[name="id"]').val();
            var account = $(this).parent().parent().parent().parent().parent().find('input[name="account"]').val();
            var kwMap = {};
            $.each(formData, function (index, data) {
                var array = kwMap[index];
                if (data.name.indexOf('param') >= 0) {
                    if (array == undefined) {
                        array = new Array();
                    }
                    if ($.trim(data.value).length != 0) {
                        array.push(data.value);
                    }
                    kwMap[index] = array;
                }
            });
            var kwMap0 = JSON.parse(localStorage.getItem("TD_INPUT_" + id));
            if (kwMap0 != null) {
                $.each(kwMap0, function (index, kwArray) {
                    $.each(kwArray, function (k, v) {
                        kwMap[index].push(v);
                    });
                    //超过5个，移除最前面的记录
                    var kwArray1 = kwMap[index];
                    $.unique(kwArray1); //去重
                    if (kwArray1.length > 5) {
                        kwArray1.splice(5, 1);
                    }

                });
            }
            var kwStr = JSON.stringify(kwMap);
            var content
            localStorage.setItem("TD_INPUT_" + id, kwStr);
            $.ajax({
                url: url,
                type: "POST",
                data: formData,
                success: function (res) {
                    content = JSON.stringify(res.entry);
                    console.log(content)
                    if (res.responseCode == 1) {
                        record_ajax(id, account, formData, content, '/qacenter/record/'+ id + '/')
                        jsonformat.init();
                        content_can = jsonformat.processFormat(content);
                        console.log(content_can)
                        dialog.init({
                            dialogId: 'td-res-dialog',
                            type: 1,
                            content: content_can
                        });
                    } else {
                        if (res.responseCode == 10212) {
                            dialog.init({
                                dialogId: 'sessionout_dialog_add',
                                msg: '登录超时',
                            });
                            window.location.reload();
                        } else {
                            dialog.init({
                                dialogId: 'params_error_dialog_add',
                                msg: res.message,
                            });
                        }
                    }
                },
                error: function (XMLHttpRequest, res) {
                    if (XMLHttpRequest.status == 500) {
                        dialog.init({
                            dialogId: 'function_not_variable',
                            msg: '接口内部错误,status=500',
                        });
                    } else {
                        dialog.init({
                            dialogId: 'function_not_variable',
                            msg: '该功能还在开发中，请联系作者哦~~',
                        });
                    }
                }
            });
        });


</script>

{% endblock %}