{% extends "data/base.html" %}
{% block title %}我的事务模板{% endblock %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" href="{% static 'data/assets/css/all_td.css' %}">

<div class="crumb">
    <span>我的事务模板</span>
</div>


    <div class="tds-content tds-tmp">
        <div class="left-panel">
            {% for tds in tdList %}
            {% ifequal tds.right 'true' %}
            <div id="tdPanel{{forloop.counter0}}" class="td-panel" data-text="{{ tds.belong_project.project_name }}">
                <input type="hidden" name="id" value="{{ tds.id }}"/>
                <form id="tdForm{{forloop.counter0}}" class="tdForm{{tds.id}}">
                    <div class="td-title">
                        {{ tds.title }}
                        <span id="td-icon{{forloop.counter0}}" class="td-icon">
                            {% if tds.instruction.length == 0 %}
                            {% else %}
                                <i id="icon-help" class="iconfont icon-help">&#xe61e;</i>
                                <div id="td-help-dialog-add" class="help-dialog td-help-dialog td-help-dialog{{forloop.counter0}}">{{ tds.instruction }}</div>
                            {% endif %}
                            {% ifequal tds.isFav 'true' %}
                                <i class="iconfont icon-fav-cancel gray" onclick="id_ajax('{{ tds.id }}', '/qacenter/data/all_td/', true)" style="display: none">&#xe620;</i>
                                <i class="iconfont icon-fav-add orange" onclick="id_ajax('{{ tds.id }}', '/qacenter/data/all_td/', false)" style="display: inline-block">&#xe61f;</i>
                            {% else %}
                                <i class="iconfont icon-fav-cancel gray" onclick="id_ajax('{{ tds.id }}', '/qacenter/data/all_td/', true)" style="display: inline-block">&#xe620;</i>
                                <i class="iconfont icon-fav-add orange" onclick="id_ajax('{{ tds.id }}', '/qacenter/data/all_td/', false)" style="display: none">&#xe61f;</i>
                            {% endifequal %}
                        </span>
                    </div>
                    <div class="td-author">作者：{{ tds.author }}</div>
                    {% for foo in tds.params %}
                    <div class="td-param">
                        <span class="td-param-name">{{ foo.param }}：</span>
                        {% ifequal foo.type '0' %}
                        <input type="text" class="param-input" name="param{{forloop.counter0}}" value="" placeholder="{{ foo.exp }}"
                               autocomplete="off" readonly/>
                        {% else %}
                        <select name="param{{forloop.counter0}}">
                            <option value="请选择">请选择</option>
                        </select>
                        {% endifequal %}
                        <div class="bdsug">
                            <ul>

                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                    <input type="hidden" name="url" value="{{ tds.td_url }}"/>

                    <div class="submit-btn-row"><a href="/qacenter/data/edit_td/{{ tds.id }}/" class="submit btn">编辑</a></div>
                </form>
            </div>
            {% endifequal %}
            {% empty %}
                <span>抱歉，列表为空</span>
            {% endfor %}
    </div>
    <div class="right-panel">
            {% for tds in tdList %}
            {% ifequal tds.right 'false' %}
            <div id="tdPanel{{forloop.counter0}}" class="td-panel" data-text="{{ tds.belong_project.project_name }}">
                <input type="hidden" name="id" value="{{ tds.id }}"/>
                <form id="tdForm{{forloop.counter0}}" class="tdForm{{tds.id}}">
                    <div class="td-title">
                        {{ tds.title }}
                        <span id="td-icon{{forloop.counter0}}" class="td-icon">
                            {% if tds.instruction.length == 0 %}
                            {% else %}
                                <i id="icon-help" class="iconfont icon-help">&#xe61e;</i>
                                <div id="td-help-dialog-add" class="help-dialog td-help-dialog td-help-dialog{{forloop.counter0}}">{{ tds.instruction }}</div>
                            {% endif %}
                            {% ifequal tds.isFav 'true' %}
                                <i class="iconfont icon-fav-cancel gray" onclick="id_ajax('{{ tds.id }}', '/qacenter/data/all_td/', true)" style="display: none">&#xe620;</i>
                                <i class="iconfont icon-fav-add orange" onclick="id_ajax('{{ tds.id }}', '/qacenter/data/all_td/', false)" style="display: inline-block">&#xe61f;</i>
                            {% else %}
                                <i class="iconfont icon-fav-cancel gray" onclick="id_ajax('{{ tds.id }}', '/qacenter/data/all_td/', true)" style="display: inline-block">&#xe620;</i>
                                <i class="iconfont icon-fav-add orange" onclick="id_ajax('{{ tds.id }}', '/qacenter/data/all_td/', false)" style="display: none">&#xe61f;</i>
                            {% endifequal %}
                        </span>
                    </div>
                    <div class="td-author">作者：{{ tds.author }}</div>
                    {% for foo in tds.params %}
                    <div class="td-param">
                        <span class="td-param-name">{{ foo.param }}：</span>
                        {% ifequal foo.type '0' %}
                        <input type="text" class="param-input" name="param{{forloop.counter0}}" value="" placeholder="{{ foo.exp }}"
                               autocomplete="off" readonly/>
                        {% else %}
                        <select name="param{{forloop.counter0}}">
                            <option value="请选择" onclick="getOptions({{ foo.exp }})">请选择</option>
                        </select>
                        {% endifequal %}
                        <div class="bdsug">
                            <ul>

                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                    <input type="hidden" name="url" value="{{ tds.td_url }}"/>

                    <div class="submit-btn-row"><a href="/qacenter/data/edit_td/{{ tds.id }}/" class="submit btn">编辑</a></div>
                </form>
            </div>
            {% endifequal %}
            {% empty %}
                <span>抱歉，列表为空</span>
            {% endfor %}
     </div>
</div>

    <script  id="td-res-dialog-tmp">

        $(document).ready(function() {
            }).on('click', '.icon-help', function() {
            var isShow = $(this).next().css('display');
            if (isShow == 'none') {
                $(this).next().show();
            } else {
                $(this).next().hide();
            }
        }).on('click', 'body', function() { //点击空白处，隐藏帮助说明
            var eventId = event.srcElement.id;
            if (eventId == 'td-help-dialog-add' || eventId == 'icon-help') {
                return;
            }  else {
                $('.td-help-dialog').hide();
            }
        });
    </script>

{% endblock %}