{% extends "data/base.html" %}
{% block title %}调用历史{% endblock %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" href="{% static 'data/assets/css/record.css' %}">

<div class="crumb">
    <span>调用历史</span>
</div>
<div class="content">

    <div class="tab-statistics">
        <table class="table-statistics">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>事务名称</th>
                    <th>调用人</th>
                    <th>创建日期</th>
                    <th>调用请求</th>
                    <th>调用结果</th>
                </tr>
            </thead>
            <tbody>
            {% for foo in record %}
                <tr>
                    <td>{{ forloop.counter }}
                    </td>
                    <td>
                        <div class="MHover">{{ foo.belong_td.title }}</div>
                        <div class="MALL">{{ foo.belong_td.title }}</div>
                    </td>
                    <td>
                        <div class="MHover">{{ foo.user }}</div>
                        <div class="MALL">{{ foo.user }}</div>
                    </td>
                    <td>
                        <div class="MHover">{{ foo.create_time }}</div>
                        <div class="MALL">{{ foo.create_time }}</div>
                    </td>
                    <td>
                        <div class="MHover">{{ foo.request|truncatechars:60 }}</div>
                        <div class="MALL">{{ foo.request }}</div>
                    </td>
                    <td>
                        <div class="MHover">{{ foo.result|truncatechars:60 }}</div>
                        <div class="MALL">{{ foo.result }}</div>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <ul class="pagination">
      {{ page_list }}
    </ul>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".MALL").hide();
        $(".MHover").mouseover(function (e) {
            $(this).next(".MALL").css({"color":"#4FA0E3","position":"absolute","top":e.pageY+5,"left":e.pageX+5}).show();
        });
        $(".MHover").mousemove(function (e) {
            $(this).next(".MALL").css({ "color": "fff", "position": "absolute", "opacity": "1", "background-color": "666", "top": e.pageY + 5, "left": e.pageX + 5 });
        });
        $(".MHover").mouseout(function () {
            $(this).next(".MALL").hide();
        });
    });
</script>

{% endblock %}