{% extends "base.html" %}
{% load staticfiles %}
{% block title %}添加事务模板{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'assets/css/add_td.css' %}">

    <div class="crumb">
        <span>事务管理>添加事务</span>
    </div>
{#    <div class="content">#}
{#        <div class="tab-statistics">#}
{#            <div class="td-content">#}
{#                <form class="form-header" action="/qacenter/add_td/" role="form" method="POST" id="add_td">#}
{#                    <div class="form-group-name">#}
{#                        <input type="text" class="form-name" value="*事务名称：">#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <input  class="form-control" id="title" name="title" placeholder="请输入事务名称" value="">#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <select class="form-select" id="belong_project" name="belong_project">#}
{#                            <option value="请选择所属项目">请选择所属项目</option>#}
{#                            {% for foo in project %}#}
{#                                <option value="{{ foo.project_name }}">{{ foo.project_name }}</option>#}
{#                            {% endfor %}#}
{#                        </select>#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <select class="form-select" id="belong_module" name="belong_module">#}
{#                            <option value="请选择所属模块">请选择所属模块</option>#}
{#                        </select>#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <input type="text" class="form-control" id="url" name="url" placeholder="请输入事务url地址" value="">#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}
{#            <div class="td-request">#}
{#                <form class="form-header" action="/qacenter/add_td/" role="form" method="POST" id="add_td">#}
{#                    <div class="form-group-name">#}
{#                        <input type="text" class="form-name" value="入参：">#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <input  class="form-control" id="name" name="name" placeholder="请输入事务名称" value="">#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <select class="form-control" id="belong_project" name="belong_project">#}
{#                            <option value="请选择入参方式">请选择入参方式</option>#}
{#                                <option value="文本框">文本框</option>#}
{#                                <option value="下拉列表">下拉列表</option>#}
{#                        </select>#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <input type="text" class="form-control" id="url" name="url" placeholder="请输入placeholder" value="">#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

<div class="content">
    <div class="tmp-add-panel">
        <div class="row"><i id="icon-help0" class="iconfont td-icon-blue">&#xe61e;</i></div>
            <form id="infoForm" name="infoForm">
                <div class="tmp-row">
                    <span class="tmp-title">*事务名称：</span>
                    <input class="tmp-input" id="title" name="title" value="" placeholder="请填写事务名称"/>
                    <select id="belong_project" name="project" class="tmp-select" onchange="auto_load('#infoForm', '/qacenter/add_td/', '#belong_module_id', 'module')">
                        <option value="0">请选择所属项目</option>
                        {% for foo in project %}
                            <option value="{{ foo.project_name }}">{{ foo.project_name }}</option>
                        {% endfor %}
                    </select>
                    <select id="belong_module_id" name="module" class="tmp-select">
                        <option value="0">请选择模块(非必填)</option>
                    </select>
                </div>
            </form>

            <form id="paramForm">
                <div class="params-rows" id="params-rows" name="params-rows">
                    <div id="params-row0" class="tmp-row params-row">
                        <span class="tmp-title">入参1：</span>
                        <input class="tmp-input" id="param" name="param" value="" placeholder="请填写入参名称"/>
                        <select id="type" name="type" class="tmp-select">
                            <option value="0" selected>文本框</option>
                            <option value="1">下拉列表</option>
                        </select>
                        <input class="input tmp-input" id="exp" name="exp" placeholder="请填写placeholder" value=""/>
                        <i class="del-row-btn iconfont icon-minus">&#xe636;</i>
                    </div>
                </div>
            </form>

            <form id="otherForm">
                <div class="tmp-row">
                <div class="add-row-btn" ><i class="icon iconfont icon-add">&#xe614;</i>&nbsp;&nbsp;继续添加
                </div>
            </div>
                <div class="tmp-row">
                <span class="tmp-title">*接口地址：</span>
                <input class="tmp-input tmp-url-input" id="td_url" name="td_url" value="" placeholder="请填写处理事务的url请求"/>
            </div>
                <div class="tmp-row">
                <span class="tmp-title">*编写人员：</span>
                <input class="tmp-input tmp-url-input" id="author" name="author" value="{{ account }}" placeholder="编写人员"/>
            </div>
    {#            <div class="tmp-row">#}
    {#                <span class="tmp-title">环境切换：</span>#}
    {#                <label class="tmp-label"> <input name="env" type="radio" value="0" checked/>daily</label>#}
    {#                <label class="tmp-label"> <input name="env" type="radio" value="1"/>dev</label>#}
    {#                <span class="tmp-txt">（切换为dev环境后，执行事务时将调用本地接口，http://localhost:8080/...方便本地调试）</span>#}
    {#            </div>#}
                <div class="tmp-row">
                <span class="tmp-title">帮助说明：</span><textarea id="instruction" name="instruction" class="instruction-txt" placeholder="可选填，此处填写事务的帮助使用说明"></textarea>
                </div>
            </form>

            <div class="tmp-row">
                <div id="tmp-save-btn" class="tmp-save-btn" onclick="td_ajax('add')">保存并预览</div>
            </div>

        </form>
    </div>
</div>

<script>

    function initIndex() {
        $('.params-row').each(function(i) {
            $(this).find('.tmp-title').text("入参" + (i + 1) + "：");
            $(this).attr("id", "params-row" + i);
        });
    }

    $(document).ready(function() {
        paramInitRow = $("#params-row0");
        }).on('click', '.add-row-btn', function() {
            var row = $("#params-row0").clone();
            if (typeof(row.html()) == 'undefined') {
                $(".params-rows").append(paramInitRow);
            }
            row.find("input[name='param']").val("");
            row.find("input[name='exp']").val("");
            $(".params-rows").append(row);
            self.initIndex();
        }).on('click', '.del-row-btn', function() {
            $(this).parent().remove();
            self.initIndex();
        }).on('change', '.tmp-select', function() {
            var selValue = $(this).find("option:selected").val();
            if (selValue == -1) {
                $(this).next().hide();
            } else if (selValue == 0) {
                $(this).next().show();
                $(this).next().attr("placeholder", "请填写placeholder");
            } else {
                $(this).next().show();
                $(this).next().attr("placeholder", "请填写获取下拉列表的url请求");
            }
        });

</script>

{% endblock %}

