{% extends "base.html" %}
{% block title %}添加项目{% endblock %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" href="{% static 'assets/css/add_project.css' %}">
    <div class="crumb">
        <span>项目管理>添加项目</span>
    </div>

    <div class="add_content">
        <form class="form-header" action="/qacenter/add_project/" role="form" method="POST" id="add_project">
            <div class="">
                <label class="form-label">*项目名称:</label>
                <div class="form-group">
                    <input type="text" class="form-control" id="project_name" name="project_name" placeholder="请输入项目名称" value="">
                </div>
            </div>

            <div>
                <label class="form-label">*负责人:</label>
                <div class="form-group">
                    <input type="text" class="form-control" id="responsible_name" name="responsible_name" placeholder="请输入负责人" value=""/>
                </div>
            </div>

            <div>
                <label class="form-label">*测试人员:</label>
                <div class="form-group">
                    <input type="text" class="form-control" id="test_user" name="test_user" placeholder="请输入测试人员" value=""/>
                </div>
            </div>

            <div>
                <label class="form-label">简要描述:</label>
                <textarea id="simple_desc" name="simple_desc" class="form-group-text form-control" placeholder="项目简单概述" ></textarea>
            </div>

            <div class="add-button-div">
                <input type="button" id="login" class="add-button" value="保存" onclick="info_ajax('#add_project', '/qacenter/add_project/')">
            </div>
        </form>

{#        <div class="admin-biaogelist" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">#}
{#            <div class="am-tabs am-margin">#}
{#                <div class="am-tabs-bd">#}
{#                    <div class="am-tab-panel" id="tab1">#}
{#                        <form class="form-horizontal" id="form_message" action="/qacenter/add_project/" role="form" method="POST">#}
{#                            <div class="form-group">#}
{#                                <div class="input-group col-md-4 col-md-offset-1">#}
{#                                    <div class="input-group-addon" style="color: #0a628f">项目名称</div>#}
{#                                    <input type="text" class="form-control" id="case_name" name="case_name"#}
{#                                           placeholder="请输入项目名称">#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                            <div class="form-group">#}
{#                                <div class="input-group col-md-4 col-md-offset-1">#}
{#                                    <div class="input-group-addon" style="color: #0a628f">负责人   </div>#}
{#                                    <input type="text" class="form-control" id="case_name" name="case_name"#}
{#                                           placeholder="请输入负责人">#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                            <div class="form-group">#}
{#                                <div class="input-group col-md-4 col-md-offset-1">#}
{#                                    <div class="input-group-addon" style="color: #0a628f">测试人员</div>#}
{#                                    <input type="text" class="form-control" id="case_name" name="case_name"#}
{#                                           placeholder="请输入测试人员">#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                            <div class="form-group">#}
{#                                <div class="input-group col-md-4 col-md-offset-1">#}
{#                                    <div class="input-group-addon" style="color: #0a628f">简要描述</div>#}
{#                                    <input type="text" class="form-control" id="case_name" name="case_name"#}
{#                                           placeholder="项目简单概述">#}
{#                                    </select>#}
{#                                </div>#}
{#                            </div>#}
{#                        </form>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="addBtn"><input type="submit" id="add_project" class="addBtn" value="保存"></div>#}
    </div>



{% endblock %}