<!doctype html>
<html class="no-js" lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    {% load staticfiles %}
    <meta name="apple-mobile-web-app-title" content="qacenter"/>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-fileinput/4.4.8/js/fileinput.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-fileinput/4.4.8/js/fileinput.min.js"></script>

    <link rel="stylesheet" href="{% static 'assets/css/common.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/jsonformat.css' %}">

    <script src="https://cdn.bootcss.com/jquery.serializeJSON/2.9.0/jquery.serializejson.min.js"></script>
    <script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

    <script src="{% static 'assets/js/commons.js' %}"></script>
    <script src="{% static 'assets/js/dialog.js' %}"></script>
    <script src="{% static 'assets/js/jsonformat.js' %}"></script>



</head>
<body class="modal-open">
<div class="fixed-top">
    <div class="fixed-logo">
        <img src="http://imgsize.52shangou.com/img/n/01/28/1453982752246_4107.png" width="30" height="30" class="logo"/>
        <span class="fixed-title"><a href="/qacenter/index">质量中心</a></span>
    </div>
    <div class="fixed-nav">
{#        #foreach($app in $applicationList)#}
{#            <span>#if($!curAppId==$!app.id)$!app.appName#end</span>#}
{#        #end#}
{#        <div class="fixed-nav-list">#}
{#            #foreach($app in $applicationList)#}
{#                <a href="$!app.url" target="_blank">$!app.appName</a>#}
{#            #end#}
{#        </div>#}
        <span class="fixed-title">质量中心</span>
        <div class="fixed-nav-list">
                <a href="www.baidu.com" target="_blank">数据工场</a>
                <a href="www.baidu.com" target="_blank">代码覆盖率</a>
                <a href="www.baidu.com" target="_blank">禅道</a>
                <a href="www.baidu.com" target="_blank">CMIS</a>
                <a href="www.baidu.com" target="_blank">JIRA</a>
        </div>
    </div>
    <div class="fixed-logout">Hi&nbsp;&nbsp;{{ account }}，欢迎登录质量中心<a href="/qacenter/logout/">退出</a></div>
</div>

<div class="fixed-left">
    <div class="nav-list">

        <div class="nav-list-menu sel"><a href="/qacenter/all_td/"><i
                class="iconfont icon-black">
            &#xe60d;</i>全部事务</a></div>
        <div class="nav-list-menu "><a href="/qacenter/td/allTD?tag=hot" id="hotTD"> <i
                class="iconfont icon-hot">
            &#xe60e;</i>常用事务</a></div>
        <div class="nav-list-menu "><a href="/qacenter/my_fav" id="favTD"><i
                class="iconfont icon-fav">
            &#xe619;</i>我的收藏</a></div>

{#        #if($isTester)#}
            <div class="nav-list-menu ful "><a href="/qacenter/my_tds/"><i
                    class="iconfont icon-fav">&#xe604;</i>我的事务模板</a></div>
            <div class="nav-list-menu ful  "><a href="/qacenter/add_td/"><i
                    class="iconfont icon-fav">&#xe605;</i>添加事务模板</a></div>
            <div class="nav-list-menu ful "><a href="/qacenter/project_list/1"><i
                    class="iconfont icon-fav">&#xe611;</i>项目管理</a></div>
            <div class="nav-list-menu ful "><a href="/qacenter/module_list/1"><i
                    class="iconfont icon-fav">&#xe60a;</i>模块管理</a></div>
{#        #end#}
        <div class="nav-list-menu ful"><a href="/qacenter/record/"><i
                class="iconfont icon-fav">
            &#xe617;</i>调用历史</a></div>
        <div class="nav-list-menu ful "><a href="/qacenter/summary"><i
                class="iconfont icon-fav">&#xe603;</i>调用量统计</a></div>

        {% for foo in projects %}
            <div class="nav-list-menu">
                <span name="index" hidden>{{ forloop.counter0 }}</span>
                <a href="/qacenter/project_td/{{ foo.id }}/" class="project-name">
                    <i class="iconfont icon-fav">&#xe618;</i>
                    {{ foo.project_name|truncatechars:6 }}</a>
                <ul class="ul-menu" id="ul-menu{{ forloop.counter0 }}" hidden>
                    {% for fool in foo.moduleList %}
                        <li>
                            <a href="/qacenter/module_td/{{ fool.id }}/">{{ fool.module_name|truncatechars:8 }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}

    </div>
</div>

    {% block content %}

    {% endblock %}

    <script type="text/javascript">
        $(document).ready(function() {
            var index = localStorage.getItem("currentNav",index);
            $('.nav-list-menu').eq(index).addClass("sel").siblings().removeClass("sel");
        }).on('click','.nav-list-menu',function(){
            var index = $(this).index();
            localStorage.setItem("currentNav",index);
            $(this).addClass("sel").siblings().removeClass("sel");
        })

        $(".project-name").mouseover(function (e) {
            $(this).next(".ul-menu").show();
        });

    </script>

</body>
</html>