{% extends "base.html" %}
{% block title %}项目管理{% endblock %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" href="{% static 'assets/css/project_list.css' %}">

<div class="crumb">
    <span>项目管理>项目列表</span>
</div>
<div class="content">
{#    <div class="standards standard-tmp">#}
{#        <script type="text/template" id="standard-tmp">#}
{#            {@each standards as standard,index}#}
{#            <form class="editStandard" name="editStandard" method="post" action="">#}
{#                <div class="coverage-div">#}
{#                    <div class="coverage-title"><span>${standard.type}</span></div>#}
{#                    <input type="hidden" name="id" value="${standard.id}"/>#}
{#                    <input type="hidden" name="type" value="${standard.type}"/>#}
{#                    <div class="standard-content">#}
{#                        <i class="iconfont good-image">&#xe66a;</i>#}
{#                        <input class="tmp-input highScore" name="highScore" value="${standard.highScore}"#}
{#                               placeholder="大于或等于这个值则为很优秀～"/>#}
{#                        <span class="percent">%</span>#}
{#                    </div>#}
{#                    <div class="standard-content">#}
{#                        <i class="iconfont fail-image">&#xe66b;</i>#}
{#                        <input class="tmp-input" name="lowScore" value="${standard.lowScore}"#}
{#                               placeholder="小于这个值则为不及格～"/>#}
{#                        <span class="percent">%</span>#}
{#                    </div>#}
{#                </div>#}
{#            </form>#}
{#            {@/each}#}
{#        </script>#}
{#    </div>#}

    <div class="tab-statistics">
        <div class="addBtn" onclick="location='/qacenter/add_project/'">添加项目</div>
        <div class="delBtn" onclick="alldel()">删除项目</div>
        <table class="table-statistics">
            <thead>
                <tr>
                    <th><input type="checkbox" name="ck" value="{{ foo.id }}"/></th>
                    <th>序号</th>
                    <th>项目名称</th>
                    <th>负责人</th>
                    <th>测试人员</th>
                    <th>事务数量</th>
                    <th>创建日期</th>
                    <th>简要概述</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            {% for foo in project %}
                <tr>
                    <td><input type="checkbox" name="ck" value="{{ foo.id }}"/></td>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ foo.project_name }}</td>
                    <td>{{ foo.responsible_name }}</td>
                    <td>{{ foo.test_user }}</td>
                    {% for key, value in sum.items %}
                        {% ifequal foo.id key %}
                            <td>{{ value }}</td>
                        {% endifequal %}
                    {% endfor %}
                    <td>{{ foo.create_time }}</td>
                    <td>{{ foo.simple_desc|truncatechars:15 }}</td>
                    <td>
                        <div class="btn-operate">
                            <a href="/qacenter/edit_project/{{ foo.id }}/">
                                <button class="btn-operate"><i class="iconfont icon-blue" >&#xe60f;</i></button>
                            </a>
                        </div>
                        <div class="btn-operate">
                            <button class="btn-operate"><i class="iconfont icon-red" onclick="invalid('{{ foo.id }}')">&#xe602;</i></button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <ul class="pagination">
      {{ page_list }}
    </ul>
</div>

    <script type="text/javascript">

    //批量删除
        function alldel() {
            var f = false;
            //得到要删除的主键id
            var arr = [];//用于存要删除的选中的id值

            var ck = document.getElementsByName("ck");//得到一组checkbox  相当于数组
            //循环这一组checkbox让每一个checkbox选中
            for (var i = 0; i < ck.length; i++) {
                if (ck[i].checked == true) {//代表选中
                    arr.push(ck[i].value);
                    f = true;
                }
            }
            if (f==true){
                //二次确认框
                dialog.init({
                    dialogId: 'all_delete_dialog',
                    msg: '亲，此操作会删除该模块下所有事务，请谨慎操作！！！',
                    confirmBtnId: 'del-btn-confirm',
                    type: 3,
                    id: arr
                });
            }else {
                dialog.init({
                    dialogId: 'all_delete_dialog',
                    msg: '亲，请至少选中一条进行批量删除',
                    confirmBtnId: 'del-btn-confirm',
                    type: 0,
                    id: arr
                });
            }
        }

        function invalid(name) {
            var id = name;
            //二次确认框
            dialog.init({
                dialogId: 'delete-confirm-dialog',
                msg: '亲，此操作会删除该模块下所有模块和事务，请谨慎操作！！！',
                confirmBtnId: 'del-btn-confirm',
                type: 3,
                id: id
            });
        }

         $(document).ready(function() {
        }).on('click', '#del-btn-confirm', function() {
            var id = $(this).parent().next().val();
            del_data_ajax(id, '/qacenter/project_list/1/')
        })


    </script>
{% endblock %}